.listAutos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    place-content: center;
    place-items: center;
}
.listAutosTable {
    display: flex;
    flex-direction: column;
    align-items: center;
}
